.btn {
    position: absolute;
    &.active {
        color: red;
    }
}
.list {
    li {
        width: 120px;
        &:last-child{
            margin-right: 30px;
        }
        &:hover {
            background: red;
        }
    }
}
.fs {
    &-small { font-size: 14px;}
    &-medium { font-size: 24px; }
    &-large { font-size: 36px; }
}