body {
  font-family: Arial, Helvetica,'맑은 고딕', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}
.clearboth::after {
  content: "";
  display: block;
  clear: both;
}
#header {
  padding: 20px;
}
#header h1 {
  float: left;
  font-size: 32px;
}
#header ul {
  float: right;
  padding-top: 10px;
}
#header ul li {
  float: left;
  padding: 0 20px;
}
#visual img {
  width: 100%;
}
.inner_con {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  padding: 30px 0;
}
.title h2 {
  color: #3f51b5;
  font-size: 34px;
}
#weare h2 {
  float: left;
}
#weare .title p {
  float: left;
  width: 60%;
  margin-left: 16%;
  position: relative;
}
#weare .title p::before {
  content: "";
  display: block;
  width: 3px;
  height: 40px;
  background-color: #ccc;
  position: absolute;
  left: -50px;
  top: 0;
}
#container > div:not(:first-child) {
  padding:60px 0;
}
#weare li {
  float: left;
  width: 25%;
  text-align: center;
  padding: 40px;
}
#weare li img {
  height: 60px;
  width: auto;
}
#weare li h3 {
  color:#3f51b5;
  padding: 10px 0;
}
#weare li p {
  line-height: 1.2;
  color: #888;
}

#work li {
  float: left;
  width: 25%;
  position: relative;
  overflow: hidden;
}
#work li img {
  width: 100%;
}
#work li .bg {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3f51b5;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}
.desc {
  position: absolute;
  left: 50px;
  top: -100px;
  color: #fff;
  transition: 0.5s;
}

/* li에 마우스를 올리면 .bg opacity:0.5로 변경
.desc top속성 50px로 변경 */
#work li:hover .bg {
  opacity: 0.5;
}
#work li:hover .desc {
  top: 50px;
}

#blog .title {
  float: left;
  width: 30%;
}
#blog > ul {
  float: left;
  width: 70%;
}
#blog > ul li {
  float: left;
  width: 32%;
}
#blog > ul li:not(:last-child) {
  margin-right: 2%;
}
#blog > ul li img {
  width: 100%;
}
#contact .title {
  width: 30%;
  float: left;
}
#contact .formdiv {
  width: 70%;
  float: left;
}
#contact button {
  background-color: #3f51b5;
  color: #fff;
  text-align: center;
  padding: 16px 30px;
  border: 0;
  outline: 0;
  float: right;
}
form div div {
  float:left;
  width: 49%;
}
form div div input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  line-height: 50px;
  outline: 0;
}
form textarea {
  border: 0;
  border-bottom: 1px solid #ccc;
  height: 160px;
  width: 49%;
  margin-left: 2%;
}
#footer {
  text-align: center;
  padding: 30px;
}